.Bowls {
    
    display: block;
    margin: 1.5rem auto 0 auto;
    width: 90%;

    @media screen and (min-width: 900px) {
        max-width: 900px;
    }

    &__Title {
        color: var(--ion-color-primary);
        text-align: center;
    }
    &__New-Container {
        display: flex;
        justify-content: space-between;

    }
    &__Name {
        flex-grow: 1;
        margin-right: 1rem;
    }
    &__Search {
        display: flex;
        justify-content: space-between;
        &-Field {
            flex-grow: 1;
            margin-right: 1rem;
        }
    }
    &__List {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}