.Login {
    &__Heading {
        font-size: 2rem;
        text-align: center;
    }
    &__Container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
    }
    &__Modal {
        padding: .5rem .25rem;
        @media screen and (min-width: 786px) {
            padding: 1.5rem 1rem;
            border: 1px solid var(--ion-color-primary);
            border-radius: 8px;
        }
    }
    &__Title {
        padding-top: 1.5rem;
        text-align: center;
        color: var(--ion-color-primary);
        margin-top: 0;

        @media screen and (min-width: 786px) {
            padding-top: 0;
        }
    }
    &__Input {
        width: 80vw;
        max-width: 900px;
        margin: 0;

        @media screen and (min-width: 786px) {
            margin-bottom: 1rem;
        }
    }
    &__Submit-Button {
        display: block;
        margin: 1rem auto;
        width: 6rem;
    }

}