.SearchResultCard {
    width: 100%;
    min-width: 275;
    padding: .5rem .75rem;
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    margin-bottom: 1rem;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--ion-card-background-color);
    overflow: hidden;

    &__Title {
        height: 6rem;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        overflow: hidden;
       
        margin-top: 0 !important;

        @media screen and (min-width: 786px) {
            height: 3rem;
        }
    }    
    
    &__Select-Button {
        display: block;
        margin: .25rem auto 0 auto;
        align-self: flex-end;
        width: fit-content;
    }
}