* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.DesktopApp {
    &__Logo {
        height: 3rem;
        z-index: 100000 !important;
        display: block;
        margin: 1rem auto .5rem auto;
    }
    &__Catch-Phrase {
        text-align: center;
        //font-weight: bold;
        font-style: italic;
    }
}
