* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.DesktopApp {
    &__Logo {
        position: fixed;
        height: 20rem;
        z-index: 100000 !important
    }
}